*{
    background-color: bisque;
}



.button{
    background-color: rgb(160, 91, 1);
    color: rgb(108, 6, 6);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.button:hover{
  background: linear-gradient(45deg, pink, red);    
    color: aqua;
    
}